<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{base :: head_template }"></head>
<body>

  <div th:replace="~{base :: header_bar}"></div>

  <div class="container">

    <div th:replace="~{base :: title(value='Meus Pedidos')}"></div>

    <nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
      <div class="navbar-nav">
        <a
                th:Classappend="${status} == null ? 'active'"
                class="nav-item nav-link"
                href="/home">
          Todos
        </a>
        <a
                th:Classappend="${status} == 'waiting' ? 'active'"
                class="nav-item nav-link"
                href="/home/waiting">
          Aguardando
        </a>
        <a
                th:Classappend="${status} == 'approved' ? 'active'"
                class="nav-item nav-link"
                href="/home/approved">
          Aprovado
        </a>
        <a
                th:Classappend="${status} == 'delivered' ? 'active'"
                class="nav-item nav-link"
                href="/home/delivered">
          Entregue
        </a>
      </div>

      <a href="/request/form">
        <button class="btn btn-secondary my-2 my-sm-0">Novo</button>
      </a>
    </nav>

    <div class="card mt-3" th:each="order : ${orders}">

      <th:block th:switch="${order.status.name()}">
        <div th:case="WAITING" class="card-header alert-warning" th:text="${order.name}">Nome do produto</div>
        <div th:case="APPROVED" class="card-header alert-success" th:text="${order.name}">Nome do produto</div>
        <div th:case="DELIVERED" class="card-header alert-dark" th:text="${order.name}">Nome do produto</div>
      </th:block>

      <div class="card-body">

        <div class="row">

          <div class="col-12 col-sm-8 mb-3">
            <div class="row">
              <div class="col-12 col-sm-5">Valor: <span th:text="${order.value}">200,99</span></div>
              <div class="col-12 col-sm-7">Data de entrega: <span th:text="${order.deliverDate}">01/05/2021</span></div>
            </div>
            <div>Produto</div>
            <div>
              <input class="form-control" th:value="${order.productUrl}" value="url_do_produto" />
            </div>
            <div>Descrição</div>
            <div>
              <textarea class="form-control" th:text="${order.description}">descrição do produto</textarea>
            </div>
          </div>

          <div class="col-12 col-sm-4">
            <div>
              <img class="img-thumbnail" th:src="${order.imgUrl}" src="" alt="img produto">
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</body>
</html>